<div class="home-main" style="margin-bottom: -137px;">
   
    <div class="home-hero section-container">
    <div class="home-max-width max-width-container">
    <div class="home-hero1">
    <div class="home-container03" style="height:200px !important;">
    <div class="home-info">
    <img alt="Rectangle43271305"
    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMicgaGVpZ2h0PSc1Micgdmlld0JveD0nMCAwIDIgNTInIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxyZWN0IHdpZHRoPScyJyBoZWlnaHQ9JzUyJyBmaWxsPSdibGFjaycgZmlsbC1vcGFjaXR5PScwLjUnLz4KPC9zdmc+Cg=="
    class="home-image4" />
    <span class="home-text09">
    <span>Stone</span>
    <br />
    <span>trending</span>
    </span>
    </div>
    <h1 class="home-text13 Heading-1">Blue Sapphire</h1>
    <div class="home-container04">
    @* <span class="home-text14">FROM</span>
    <span class="home-text15">$339</span>-- comment here*@
    </div>
    @*<div class="home-btn-group">
    <button class="button">Explore the collection</button>
    </div>-- comment here*@
    </div>
    <img alt="image23271449"
    src="~/carole-smile-khrrhmmg-me-unsplash-removebg-preview.png"
    class="home-image5" />
    </div>
    </div>
    </div>
    <div class="section-container column">
        <div class="max-width-container">
            <div class="section-heading-section-heading">
                <h1 class="section-heading-text Heading-2">
                    <span>Products List</span>
                </h1>
                @*<span class="section-heading-text1">
                <span>
                Start shopping based on the categories you are interested in
                </span>
                </span>*@
            </div>
            <div class="home-cards-container">
                <div class="category-card-category-card">
                    <img alt="image" src="~/images/img-20230825-wa0011.jpg" class="category-card-image" />

                    <span class="category-card-text"><span>Red Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" src="~/images/img-20230825-wa0014.jpg" class="category-card-image" />
                    <span class="category-card-text"><span>Sulemani</span></span>
                </div>
                <div class="category-card-category-card">
                    <img src="~/images/img-20230825-wa0012.jpg" class="category-card-image" />
                    <span class="category-card-text"><span></span>Dur e Najaf</span>
                </div>
                <div class="category-card-category-card">
                    <img src="~/images/img-20230825-wa0013.jpg" class="category-card-image" />
                    <span class="category-card-text"><span>Sapphire</span></span>
                </div>
                <div class="category-card-category-card">
                    <img src="~/images/img-20230825-wa0054.jpg" class="category-card-image" />
                    <span class="category-card-text"><span>Black Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" src="~/images/img-20230825-wa0014.jpg" class="category-card-image" />
                    <span class="category-card-text">
                        <span>Yellow Sapphire</span>
                    </span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" src="~/images/img-20230825-wa0017.jpg" class="category-card-image" />
                    <span class="category-card-text">
                        <span>Opal</span>
                    </span>
                </div>

                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0018.jpg" />
                    <span class="category-card-text"><span>Red Aqeeq</span></span>
                </div>

                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0022.jpg" />
                    <span class="category-card-text"><span>Sulemani</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0023.jpg" />
                    <span class="category-card-text"><span></span>Dur e Najaf</span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0024.jpg" />
                    <span class="category-card-text"><span>Sapphire</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0025.jpg" />
                    <span class="category-card-text"><span>Black Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0027.jpg" />
                    <span class="category-card-text">
                        <span>Yellow Sapphire</span>
                    </span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0028.jpg" />
                    <span class="category-card-text">
                        <span>Opal</span>
                    </span>
                </div>

                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0029.jpg" />

                    <span class="category-card-text"><span>Red Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0030.jpg" />
                    <span class="category-card-text"><span>Sulemani</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0031.jpg" />
                    <span class="category-card-text"><span></span>Dur e Najaf</span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0033.jpg" />
                    <span class="category-card-text"><span>Sapphire</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0034.jpg" />
                    <span class="category-card-text"><span>Black Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0035.jpg" />
                    <span class="category-card-text">
                        <span>Yellow Sapphire</span>
                    </span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0036.jpg" />
                    <span class="category-card-text">
                        <span>Opal</span>
                    </span>
                </div>

                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0037.jpg" />

                    <span class="category-card-text"><span>Red Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0038.jpg" />
                    <span class="category-card-text"><span>Sulemani</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0039.jpg" />
                    <span class="category-card-text"><span></span>Dur e Najaf</span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0040.jpg" />
                    <span class="category-card-text"><span>Sapphire</span></span>
                </div>
                <div class="category-card-category-card">
                    <img class="category-card-image" src="~/images/img-20230825-wa0041.jpg" />
                    <span class="category-card-text"><span>Black Aqeeq</span></span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0042.jpg" />
                    <span class="category-card-text">
                        <span>Yellow Sapphire</span>
                    </span>
                </div>
                <div class="category-card-category-card">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0043.jpg" />
                    <span class="category-card-text">
                        <span>Opal</span>
                    </span>
                </div>


            </div>
        </div>
        <div class="home-banner">
            <div class="home-container05">
                <h3 class="home-text16 Heading-3">JEMS WORLD</h3>
                <span class="home-text17">
                    <span></span>
                    <span>imported Stones</span>
                </span>
            </div>
        </div>
        <div class="home-container06 max-width-container">
            <div class="home-container07">
                <span class="home-text20">
                    <span>
                        Jems World, is a unique seller of imported stones
                    </span>
                    <br />
                    <span>that are hand picked to  and thoroughly tested to insure their originality</span>
                    <br />
                    @*      <span>
                    Our legacy guarantees exceptional product quality, unique
                    designs and special prices for all of our product line-up.
                    Lorem ipsum, consectetur adipiscing elit duis tristique
                    sollicitudin nibh sit amet commodo nulla facilisi nullam
                    vehicula ipsum a arcu cursus vitae congue. Consectetur
                    adipiscing elit duis tristique sollicitudin nibh sit amet
                    commodo nulla facilisi nullam vehicula ipsum a arcu cursus
                    vitae congue
                    </span>*@
                </span>
                @* <img alt="M3271427"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTk5JyBoZWlnaHQ9JzIwMCcgdmlld0JveD0nMCAwIDE5OSAyMDAnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxwYXRoIGQ9J00zNy4zMDI2IDcxLjI5MjVMOTkuMzgyNyAxODIuMzEzTDE2MS40NjMgNzEuMjkyNUwxNzUuNjIyIDIwMEgxOTguNzY1TDE3NS42MjIgMEw5OS4zODI3IDEzNy45NTlMMjMuMTQzOSAwTDAgMjAwSDIzLjE0MzlMMzcuMzAyNiA3MS4yOTI1WicgZmlsbD0nYmxhY2snIGZpbGwtb3BhY2l0eT0nMC4wNicvPgo8L3N2Zz4K"
                class="home-svg" />*@
                <a class="button" href="/Home/AboutUs">Read more</a>
               
            </div>
               @* <div class="image-container">
                <a target="_blank" class="whatsapp-button" href="https://wa.me/+923104189707?text=Check%20out%20this%20image:%20file:///D:/Personal/Projects/JemsWorld/wwwroot/images/IMG-20230825-WA0012.jpg">
                    <img alt="image" class="category-card-image" src="~/images/img-20230825-wa0042.jpg" />
                </a>
                </div>*@
        </div>
    </div>
    @* <div class="section-container">
    <div class="max-width-container">
    <div class="section-heading-section-heading section-heading-root-class-name">
    <h1 class="section-heading-text Heading-2">
    <span>Our blog</span>
    </h1>
    <span class="section-heading-text1">
    <span>
    Read the latest news and furniture related articles
    </span>
    </span>
    </div>
    <div class="home-container08">
    <div class="blog-post-card-blog-post-card blog-post-card-root-class-name">
    <img alt="image"
    src="https://images.unsplash.com/photo-1630585308572-f53438fc684f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxzb2ZhfGVufDB8fHx8MTY2Njc4MDYxMQ&amp;ixlib=rb-4.0.3&amp;w=1500"
    class="blog-post-card-image" />
    <div class="blog-post-card-container">
    <span class="blog-post-card-text">
    <span>Chic sofa designs for 2022</span>
    </span>
    <span class="blog-post-card-text1">
    <span>
    Consectetur adipiscing elit duis tristique sollicitudin
    nibh
    </span>
    </span>
    <a href=""
    target="_blank"
    rel="noreferrer noopener"
    class="button">
    Read more
    </a>
    </div>
    </div>
    <div class="blog-post-card-blog-post-card">
    <img alt="image"
    src="https://images.unsplash.com/photo-1550254478-ead40cc54513?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzb2ZhfGVufDB8fHx8MTY2Njc4MDYxMQ&amp;ixlib=rb-4.0.3&amp;w=1500"
    class="blog-post-card-image" />
    <div class="blog-post-card-container">
    <span class="blog-post-card-text">
    <span>Unique natural color combinations</span>
    </span>
    <span class="blog-post-card-text1">
    <span>
    Consectetur adipiscing elit duis tristique sollicitudin
    nibh
    </span>
    </span>
    <a href=""
    target="_blank"
    rel="noreferrer noopener"
    class="button">
    Read more
    </a>
    </div>
    </div>
    <div class="blog-post-card-blog-post-card">
    <img alt="image"
    src="https://images.unsplash.com/photo-1615800002234-05c4d488696c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMwfHxzb2ZhfGVufDB8fHx8MTY2Njc4MDYzOQ&amp;ixlib=rb-4.0.3&amp;w=1500"
    class="blog-post-card-image" />
    <div class="blog-post-card-container">
    <span class="blog-post-card-text">
    <span>Special combinations for nature lovers</span>
    </span>
    <span class="blog-post-card-text1">
    <span>
    Consectetur adipiscing elit duis tristique sollicitudin
    nibh
    </span>
    </span>
    <a href=""
    target="_blank"
    rel="noreferrer noopener"
    class="button">
    Read more
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>*@
</div>


<style>

    /* Basic styling for the container */
    .image-container {
        display: inline-block;
        position: relative;
    }

    /* Styling for the WhatsApp button */
    .whatsapp-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #25d366;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }

    /*new comment*/
</style>